<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "chart"
      },
      title: {
        text: "Sensor K4"
      }
    });
  });
</script>

<h1>Sessions#Sensor</h1>
<div id="chart" style="width:560px; height:300px;">
</div>
