<!DOCTYPE html>
<html>
<head>
  <title>Mycar</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.6.2", "rails", "highstock" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
